<%- include('index') %>
    <link rel="stylesheet" href="/css/historique.css">

    <div class="content-container">
        <p>
            Fondé en 1975 ,<span> le groupe scolaire Saint-Exupéry </span> est né de la volonté de proposer un cadre éducatif chaleureux et innovant pour les jeunes enfants. Situé au cœur d’un quartier résidentiel, il regroupe <span>une école maternelle et une école primaire </span>, permettant ainsi aux élèves de grandir et d’apprendre dans un environnement harmonieux et cohérent. <br> <br>
L’école maternelle a été la première à ouvrir ses portes, accueillant dès ses débuts une centaine d’enfants âgés de <span>3 à 6 ans</span>. Inspirée par la pédagogie active, elle met un point d’honneur à favoriser l’épanouissement, la curiosité et la socialisation des tout-petits. <br> <br>
En 1980, le succès croissant de la maternelle a conduit à l'ouverture de l’école primaire, permettant ainsi de prolonger cette approche éducative jusqu’à l’entrée au collège. Avec ses six classes allant du <span>CP au CM2</span>, l’école primaire offre un enseignement à la fois rigoureux et centré sur le développement des compétences fondamentales.
Depuis sa création,  le groupe scolaire Saint-Exupéry s’est toujours distingué par son attachement aux valeurs de <span> bienveillance, de respect et d’excellence</span>. En hommage à Antoine de Saint-Exupéry, célèbre écrivain et aviateur, l’établissement encourage également la créativité, l’esprit d’aventure et l’ouverture sur le monde à travers de nombreux projets culturels et pédagogiques. <br> <br>
Aujourd’hui, le groupe scolaire continue de prospérer, formant chaque année des élèves prêts à relever les défis de demain tout en restant fidèles à ses valeurs fondatrices." 
        </p>
    </div>