<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" >
    <title>EduVinci</title>
</head>
<body>
    <%- include('partials/navbar') %>
   
</body>
</html>