<%- include('index') %>
<link rel="stylesheet" href="/css/register.css">
<div class="register-form-container">
    <div class="page-title">
        <h1>Création d'un compte</h1>
    </div>

    <div class="register-form">
        <form action="/registration" method="POST">
            <label for="nom">Nom :</label>
            <input id="nom" name="nom" type="text" required/>
            <label for="prenom">Prénom :</label>
            <input id="prenom" name="prenom" type="text" required/>
            <label for="email">Email :</label>
            <input id="email" name="email" type="email" required/>
            <label for="password">Mot de passe :</label>
            <input id="password" name="password" type="password" required/>
            <label for="confirm_password">Confirmer le mot de passe :</label>
            <input name="confirm_password" type="password" required/>
            <label for="role">Rôle :</label>
            <select id="role" name="role" required>
                <option value="Maire">Maire</option>
                <option value="Directrice">Directrice</option>
                <option value="Professeur">Professeur</option>
                <option value="Administrateur">Administrateur</option>
            </select>

            <input type="submit" value="Créer le compte" />
        </form>
    </div>
</div>
<script src="/js/register.js"></script>