.background-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 89vh; /* Prend toute la hauteur de la fenêtre */
    overflow: hidden; /* Cache tout débordement */
}
h2 {
    text-align: center;
    color: white;
}
.floating-text {
    font-size: 2rem; 
    color: whit; 
    text-align: center;
    font-weight: bold; 
    animation: float 3s ease-in-out infinite; /* Animation de flottement */
    display: inline-block; /* Permet l'animation sur l'élément inline */
    position: relative; 
}

/* Animation de flottement */
@keyframes float {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-15px); /* Monte légèrement */
    }
}