.annee-suivante {
    width: 92%;
    margin: 0 auto;
}

.annee-suivante p {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.annee-suivante a {
    color: lightblue;
}

.annee-suivante form {
    text-align: center;
}

.annee-suivante form input[type="submit"] {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    margin-top: 22px;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid black;
    padding: 0px;
    height: 80px;
    width: 340px;
    cursor: pointer;
    text-wrap: wrap;
}