.form-container {
    width: 70rem;
    height: 70rex;
    background-color: #6C9BBD;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 3rex;
    margin-bottom: 3rex;
}

.form-container form {
    margin: 0 auto;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container label {
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.form-container form input, .form-container form select {
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-container form input[type="submit"] {
    margin: 0 auto;
    margin-top: 22px;
    background-color: white;
    color: black;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid black;
    padding: 0px;
    height: 55px;
    width: 250px;
    cursor: pointer;
}

#fichier {
    display: none;
}

.form-container form .radio-group {
    display: flex;
    justify-content: space-between;
}

.form-container form .radio-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.form-container form .radio-group .form-redouble {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 10px;
}

.form-container form #redouble-years input {
    margin-left: 50px;
    width: 30px;
}

.type-inscription {
    width: 92%;
    margin: 0 auto;
    color: white;
}

.type-inscription label {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.container-mt-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 92%;
    color: white;
    background-color: #6C9BBD;
    height: 40rex;
    width: 50rem;
    padding: 20px;
    border-radius: 15px;
}

.container-mt-5 form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-mt-5 form label {
    font-size: 22px;
    font-weight: 600;
}

.container-mt-5 .mb-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-mt-5 form button[type="submit"] {
    margin: 0 auto;
    margin-top: 22px;
    background-color: white;
    color: black;
    font-size: 22px;
    font-weight: 600;
    border: 2px solid black;
    padding: 0px;
    height: 55px;
    width: 250px;
    cursor: pointer;
}

.container-mt-5 #result {
    margin-top: 15px;
    font-weight: 700;
    color: lightgreen;
}