/*Importation de la font utilisée pour le projet*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #0C4576;
}

/*Style global qui sera le même pour les titres de chaque vues*/
.page-title {
    width: 92%;
    margin: 0 auto;
    padding-top: 7rex;    
    color: white;
}