<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-title">
            <a href="/">
                <img src="/images/logo.png" />
                <h1>EduVinci</h1>
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="/historique">Qui sommes-nous?</a></li>
                <li id="liste-eleves"><a href="/liste_eleves">Liste des élèves inscrits</a></li>

                <li id="inscription"><a href="/inscription">Inscrire un élève</a></li>
                <li id="fin-annee" class="dropdown">
                    <a href="#" class="dropdown-toggle">Clôturer l'année ▼</a>
                    <ul class="dropdown-menu">
                        <li id="liste-redouble"><a href="/liste_redoublants">Gérer les redoublements</a></li>
                        <li id="annee-suivante"><a href="/annee_suivante">Passer à l'année suivante</a></li>
                    </ul>
                </li>

                <li id="comptes" class="dropdown">
                    <a href="#" class="dropdown-toggle">Compte ▼</a>
                    <ul class="dropdown-menu">
                        <li id="login-link"><a href="/login">Se connecter</a></li>
                        <li id="signup-link"><a href="/registration">Créer un compte</a></li>
                        <li id="logout"><a href="#" id="logout-link">Se déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="/js/navbar.js"></script>
</nav>