<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-title">
            <a href="/">
                <img src="/images/logo.png" />
                <h1>EduVinci</h1>
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="">Liste des élèves inscrits</a></li>
                <li><a href="">Inscrire un élève</a></li>
                <li><a href="">Cloturer une année</a></li>
            </ul>
        </div>
    </div>
</nav>