<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-title">
            <a href="/">
                <img src="/images/logo.png" />
                <h1>EduVinci</h1>
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                <li><a href="/historique">Qui sommes-nous?</a></li>
                <li><a href="/liste_eleves">Liste des élèves inscrits</a></li>
                <li><a href="/inscription">Inscrire un élève</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Clôturer l'année ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="/liste_redoublants">Gérer les redoublements</a></li>
                        <li><a href="/annee_suivante">Passer à l'année suivante</a></li>
                    </ul>
                </li>                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Compte ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">Se connecter</a></li>
                        <li><a href="/registration">Créer un compte</a></li>
                    </ul>
                </li>
                <li><a href="/assign_prof">Assigner un professeur à une classe</a></li>
            </ul>
        </div>
    </div>
</nav>